<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- TITLE -->
    <title>QR GENERATOR</title>
</head>
<body>
    
    <!-- QR -->
    <section class="qr">
        <input type="text" name="text">
        <button>Generate QR Code</button>
        <div class="qr-image">
            <img src="" alt="">
        </div>
    </section>

    <!-- SCRIPT -->
    <script src="/assets/js/script.js"></script>

</body>
</html>